<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1084439704153-b8qeds6r0rgriopd74ls4uvmau7ebakg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084439704153-b8qeds6r0rgriopd74ls4uvmau7ebakg</string>
	<key>API_KEY</key>
	<string>AIzaSyC1cWV_wA-DtAxsbsLLIJ7IzZHk3aX5CXo</string>
	<key>GCM_SENDER_ID</key>
	<string>1084439704153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antigravitystudios.WillTutorial</string>
	<key>PROJECT_ID</key>
	<string>willtutorial-40011</string>
	<key>STORAGE_BUCKET</key>
	<string>willtutorial-40011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084439704153:ios:00fefb86565683ad</string>
	<key>DATABASE_URL</key>
	<string>https://willtutorial-40011.firebaseio.com</string>
</dict>
</plist>